@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url("../imagens/fundo1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;  
    height: 100vh;
    color: #336b58;
}

header{
    background-color: rgba(199, 193, 193, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    min-width: 388px;
    overflow-x: auto;
}

header h1{
    font-size: 1rem;
}

header i{
    color: #1b5205;
}

.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.header-logo img{
    height: 22px;
}

.header-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-nav li{
    list-style: none;
}

.header-nav a{
    text-decoration: none;
    color: #336b58;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

#nav-operacional:hover{
    color: rgb(255, 238, 0);
    background-color: rgba(163, 30, 30, 0.5);
    border-radius: 12px;
}

#nav-obras:hover{
    color: rgb(230, 201, 213);
    background-color: rgba(163, 30, 85, 0.5);
    border-radius: 12px;
}

#nav-agua:hover{
    color: rgb(210, 210, 233);
    background-color: rgba(43, 40, 212, 0.5);
    border-radius: 12px;
}

#nav-energia:hover{
    color: rgb(238, 45, 45);
    background-color: rgba(82, 76, 76, 0.5);
    border-radius: 12px;
}

.header-nav ul li a i{
    font-size: .6rem;
}

.header-icons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.header-icons ul li{
    list-style: none;
    padding: 5px;
    border-radius: 20px;
}

.header-icons a{
    text-decoration: none;
}

.header-icons i{
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_menutoggle{
    display: none;
}

main{
    height: calc(100% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    width: 90%;
    height: calc(100% - 50px);
    background-color: rgba(199, 193, 193, .9);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
}

.main-hidden{
    opacity:0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}

.toggle-link{
    color: #336b58;
}

@media (max-width: 988px) {
    .header-nav ul{
        display: none;
    }
    #icon_menutoggle{
        display: block;
    }
}

@media (max-width: 768px) {
    .header-nav{
        display: none;
    }
}

@media (max-width: 480px) {
    header h1{
        font-size: 0.8rem;
    }
    .header-icons ul{
        gap: 10px;
    }
}

